@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply bg-neutral-950 tracking-tight text-gray-200;
  }

  .link {
    @apply underline decoration-neutral-500 underline-offset-4 transition hover:decoration-inherit;
  }
}

/* Scrollbar */
body {
  scrollbar-gutter: stable;
}
